---
import Pagelayout from "../../layout/pagelayout.astro";

export async function getStaticPaths() {
  const url = "https://ijtlezplttycjslwxysk.supabase.co/rest/v1/Marketingsstrategier";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqdGxlenBsdHR5Y2pzbHd4eXNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0NDg4OTEsImV4cCI6MjA4MTAyNDg5MX0.P-yOEe5G0FoE8Wt5nNe2eYvCKR_nA6q1gTM-Gagytp0";
  const options = {
    headers: {
      apikey: key,
    },
  };
  const res = await fetch(url, options);
  const supaData = await res.json();

  console.log("supaData", supaData);

  return supaData.map((Marketingsstrategier) => {
    return {
      params: { slug: Marketingsstrategier.slug },
      props: { Marketingsstrategier },
    };
  });
}
const { Marketingsstrategier } = Astro.props;
---

<Pagelayout title=`${Marketingsstrategier.slug}`>
  <section>
    <div class="dynamisk-hero">
      <img class="heroimg" src={Marketingsstrategier.herobillede} alt="cardbillede af hero" />
      <div class="quotes">
        <h2 class="h-dynamisk">{Marketingsstrategier.strateginavn}</h2>
        <h2 class="h2-dynamisk">{Marketingsstrategier.strategiquote}</h2>
      </div>
    </div>
    <div class="dynamisk-hvader">
      <h3 class="hvader">Hvad er {Marketingsstrategier.strateginavn}?</h3>
      <br />
      <p>{Marketingsstrategier.beskrivelse}</p>
    </div>
    <div class="sådangørdu">
      <h3 class="sadan-h3">{Marketingsstrategier.saadangoerdu}</h3>
      <p>{Marketingsstrategier.undersaadan}</p>
    </div>
    <div class="ks-container">
      <div class="ks">
        <h3 class="ksh3">{Marketingsstrategier.kolonne1header}</h3>
        <br />
        <p>{Marketingsstrategier.kolonne1tekst}</p>
        <div class="ul-ned">
          <h4>Spot det i hverdagen:</h4>
          <ul>
            <li>{Marketingsstrategier.kolonne1ul1}</li>
            <li>{Marketingsstrategier.kolonne1ul2}</li>
            <li>{Marketingsstrategier.kolonne1ul3}</li>
          </ul>
        </div>
      </div>
      <div>
        <img class="dynamisk-img" src={Marketingsstrategier.kolonne1img} alt="kolonne billede af x" />
      </div>
    </div>
    <div class="ks-container">
      <div class="mobil">
        <div class="ks">
          <h3 class="ksh3">{Marketingsstrategier.kolonne2header}</h3>
          <br />
          <p>{Marketingsstrategier.kolonne2tekst}</p>
          <div class="ul-ned">
            <h4>Spot det i hverdagen:</h4>
            <ul>
              <li>{Marketingsstrategier.kolonne2ul1}</li>
              <li>{Marketingsstrategier.kolonne2ul2}</li>
              <li>{Marketingsstrategier.kolonne2ul3}</li>
            </ul>
          </div>
        </div>
      </div>
      <img class="dynamisk-img1" src={Marketingsstrategier.kolonne2img} alt="kolonne billede af x" />
      <div class="desktop">
        <div class="ksd1">
          <h3 class="ksh3">{Marketingsstrategier.kolonne2header}</h3>
          <br />
          <p>{Marketingsstrategier.kolonne2tekst}</p>
          <div class="ul-ned">
            <h4>Spot det i hverdagen:</h4>
            <ul>
              <li>{Marketingsstrategier.kolonne2ul1}</li>
              <li>{Marketingsstrategier.kolonne2ul2}</li>
              <li>{Marketingsstrategier.kolonne2ul3}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="ks-container">
      <div class="ks">
        <h3 class="ksh3">{Marketingsstrategier.kolonne3header}</h3>
        <br />
        <p>{Marketingsstrategier.kolonne3tekst}</p>
        <div class="ul-ned">
          <h4>Spot det i hverdagen:</h4>
          <ul class="dynamisk-ul">
            <li>{Marketingsstrategier.kolonne3ul1}</li>
            <li>{Marketingsstrategier.kolonne3ul2}</li>
            <li>{Marketingsstrategier.kolonne3ul3}</li>
          </ul>
        </div>
      </div>
      <img class="dynamisk-img" src={Marketingsstrategier.kolonne3img} alt="kolonne billede af x" />
    </div>

    <h3 class="hvader1">Sådan modstår du</h3>
    <div class="modstå-ks">
      <h4>{Marketingsstrategier.modstaaheader1}</h4>
      <p>{Marketingsstrategier.modstaatext1}</p>
    </div>
    <div class="modstå-ks">
      <h4>{Marketingsstrategier.modstaaheader2}</h4>
      <p>{Marketingsstrategier.modstaatext2}</p>
    </div>
    <div class="modstå-ks">
      <h4>{Marketingsstrategier.modstaaheader3}</h4>
      <p>{Marketingsstrategier.modstaatext3}</p>
    </div>
  </section>
</Pagelayout>
